:root {
  --sans: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --monospace: SF Mono, Roboto Mono, Consolas, DejaVu Sans Mono, Monaco, Menlo,  monospace;
  --color: rgba(255, 255, 255, 0.87);
  --background: #242424;
  --sand-gradient: radial-gradient(
    125% 125% at 100% 100%,
    hsl(25 98% 68% / 0.6),
    hsl(24.6553 101.725% 73.0024% / 0.6),
    hsl(24.3417 105.785% 77.8433% / 0.5),
    hsl(24.0328 110.218% 82.5509% / 0.4),
    hsl(23.7159 115.08% 87.1306% / 0.3),
    hsl(23.3841 120.451% 91.5759% / 0.2),
    hsl(23.033 126.438% 95.8727% / 0.1),
    hsl(194.325 360.352% 100% / 0.05)
  );
  --phial-gradient: radial-gradient(
    circle farthest-side at top left,
    hsl(176 63% 85% / 0.5) 0%, 
    hsl(180 63% 50% / 0.9) 92%
  );
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

*, *:before, *:after {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  min-height: 100dvh;
  color: var(--color);
  background-color: var(--background);
  font-family: var(--sans);
}

#root, .App {
  width: 100%;
  text-align: center;
  min-height: 100vh;
  min-height: 100dvh;
  position: relative;
}

button {
  border-radius: 10rem;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  color: var(--color);
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.sandclock {
  --hue: 37;
  --saturation: 56%;
  --lightness: 65%;
  --speed: 999ms;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.phial {
  width: 100%;
  height: 50%;
  position: relative;
  background-color: #cbf3f0;
  background-image: var(--phial-gradient), var(--grain-square-white-opacity-strong);
  background-blend-mode: overlay;
  flex-grow: 1;
}

.sand {
  --percent: 0;
  background-color: hsl(var(--hue), var(--saturation), var(--lightness));
  background-image: var(--sand-gradient), var(--grain-square-white-opacity-blend);
  background-blend-mode: overlay;
  position:absolute;
  display: block;
  content: "";
  top:0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: transform var(--speed) linear, background-color var(--speed) linear;
  transform-origin: bottom;
  transform: scaleY(var(--percent));
}

.sand__top {
  --percent: 1;
}

.time-display {
  padding: 1rem 2rem;
  background-color: var(--background);
  background-image: var(--grain-square-black);
  background-size: 150px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  gap: 1ch;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.time-display--inverted {
  top: 0;
  left: 0;
  bottom: auto;
  transform: scale(-1);
}

.time-display__readout {
  font-size: 3rem;
  line-height: 1;
  font-family: var(--monospace);
}

.start-stop {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  padding-right: 2rem;
  flex-direction: column;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.flip {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  padding-left: 2rem;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.time-input {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 1rem 2rem;
  background: var(--background);
  background-image: var(--grain-square-black);
  background-size: 150px;
  display: flex;
  align-items: center;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.time-input__input {
  padding: 0.5ch 0.75ch;
  font-size: 1.5rem;
  width: 2em;
  font-family: var(--monospace);
  border-radius: 0.5rem;
  border: 0;
}

.time-input__separator {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0 0.5ch;
  line-height: 1;
  font-family: var(--monospace);
}

.time-input__button {
  background-color: var(--color);
  color: var(--background);
  border-radius: 0.5rem;
  text-transform: uppercase;
  font-weight: bold;
  margin-left: 1ch;
}

.control {
  display: flex;
  background-image: var(--grain-square-black);
  background-size: 150px;
  flex-direction: column;
  gap: 0.25rem;
  align-items: center;
  justify-content: center;
  width: 6rem;
  height: 25vh;
  height: 25dvh;
}

.icon {
  width: 24px;
  height: auto;
  fill: var(--color);
}

.hidden {
  display: none;
}
