:root {
  --sans: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --monospace: SF Mono, Roboto Mono, Consolas, DejaVu Sans Mono, Monaco, Menlo,  monospace;
  --color: rgba(255, 255, 255, 0.87);
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

*, *:before, *:after {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  min-height: 100dvh;
  color: var(--color);
  font-family: var(--sans);
}

#root, .App {
  width: 100%;
  text-align: center;
  min-height: 100vh;
  min-height: 100dvh;
  position: relative;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  color: var(--color);
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.sandclock {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.phial {
  width: 100%;
  height: 50%;
  position: relative;
  background-color: #cbf3f0;
  flex-grow: 1;
}

.sand {
  --percent: 0;
  --speed: 999ms;
  --color: #d7af70;
  --hue: 37;
  --saturation: 56%;
  --lightness: 65%;
  background-color: hsl(var(--hue), var(--saturation), var(--lightness));
  position:absolute;
  display: block;
  content: "";
  top:0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: transform var(--speed) linear, background-color var(--speed) linear;
  transform-origin: bottom;
  transform: scaleY(var(--percent));
}

.sand__top {
  --percent: 1;
}

.time-display {
  padding: 1ch;
  background-color: black;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  gap: 1ch;
}

.time-display--inverted {
  top: 0;
  left: 0;
  bottom: auto;
  transform: scale(-1);
}

.time-display__readout {
  font-size: 2.5rem;
  font-family: var(--monospace);
}

.start-stop {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
}

.flip {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
}

.time-input {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 1em;
  background: black;
  display: flex;
  align-items: center;
  gap: 0.5ch;
}

.time-input__input {
  padding: 0.5ch;
  font-size: 1.5rem;
  width: 2em;
  font-family: var(--monospace);
}
